.contact {
  background-color: white;
  padding: 40px 10px 10px;
  min-height: 100vh;
  margin-top: -20px;
  position: relative;

  .blur-img {
    position: absolute;
    opacity: .1;
    width: calc(100% - 20px);
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    top: 50%;
    transform: translate(0, -50%);
  }

  .contact-header {
    text-align: center;
    margin-bottom: 50px;

    h2 {
      font-size: 2.5em;
      margin-bottom: -.2em;
    }
  }

  h1 {
    color: white;
    max-width: 768px;
    margin: 0 auto 50px;
  }

  .flex {
    display: flex;

    .contact-img {
      max-width: 50%;
      z-index: 1;
      object-fit: contain;
    }

    @media only screen and (max-width: 768px) {
      flex-wrap: wrap;

      .contact-img {
        width: 100%;
        max-width: 100%;
      }
    }

    .form {
      z-index: 1;
      max-width: 768px;
      margin: auto;
      border-radius: 15px;
      padding: 40px 20px 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 6%;
      position: relative;

      @media only screen and (max-width: 768px) {
        padding: 20px;
      }

      .full,
      .half {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        position: relative;
        margin: 12px 0;

        &.full {
          width: 100%;
        }

        &.half {
          width: 47%;

          @media only screen and (max-width: 768px) {
            width: 100%;
          }
        }

        label {
          position: absolute;
          align-self: flex-start;
          font-weight: 600;
          color: darkred;
          background-color: white;
          padding: 0 4px;
          top: -3px;
          left: 8px;
          line-height: 4px;
        }

        span {
          margin: 2px 5px 0;
          align-self: flex-start;
          color: tomato;
        }

        input,
        textarea {
          height: 50px;
          padding: 8px 10px;
          font-size: 16px;
          border-radius: 5px;
          border: 1px solid darkred;

          &.error {
            border-color: tomato;
          }

          &:focus {
            outline: none;
          }
        }

        textarea {
          height: 160px;
        }
      }

      button {
        display: block;
        margin: auto;
        width: 200px;
        border-radius: 5px;
        font-size: 20px;
        height: 50px;
        font-weight: bold;
        cursor: pointer;
        transition: .2s ease-in-out;
        outline: none;
        border: none;
        position: relative;
        overflow: hidden;
        background: transparent;
        color: darkred;
        box-shadow: 0 4px 8px rgba(139, 0, 0, 0.2);
        z-index: 2;

        &::before {
          content: '';
          width: 40px;
          height: 100%;
          display: block;
          position: absolute;
          background: linear-gradient(0deg, #950000, #7d0000);
          top: 0;
          left: -60px;
          transform: skew(20deg);
          transition: all .6s ease-out;
          z-index: -1;
        }

          &:active, 
          &:hover {
          box-shadow: 0 4px 8px rgba(139, 0, 0, 0.2);
          color: white;

          &::before {
            width: 300px;
          }
        }

        &:focus {
          outline: none;
        }
      }
    }
  }
}