.landing {
  min-height: 100vh;
  min-width: 100%;
  background: linear-gradient(to right bottom, rgba(186, 0, 0, 0.2), rgba(53, 0, 0, 0.2));
  .darkred-con {
    font-family: 'Audiowide', cursive;
    position: fixed;
    top: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: darkred;
    z-index: 100;
    padding-top: 80px;
    transition: all .6s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu {
      display: flex;
      flex-direction: column;
      color: #FFF;
      font-size: 24px;

      a {
        margin: 20px;
      }
    }

    h5 {
      text-align: center;
      color: #FFF;
    }
  }

  header {
    position: fixed;
    min-width: 100%;
    top: 0;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 4px;
    font-family: 'Audiowide', cursive;
    padding: 5px 10px;
    z-index: 1000;

    .menu-container {
      max-width: 1040px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      img {
        height: 40px;
        cursor: pointer;
        vertical-align: middle;
      }

      .menu {
        display: flex;
        gap: 30px;
        align-items: center;
        color: #350000;

        @media only screen and (max-width: 768px) {
          display: none;
        }

        :hover {
          color: #BA0000;
        }
      }
    }
  }

  main {
    margin: auto;
    padding: 50px 10px 0;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >div {
      max-width: 50%;
      padding-left: 40px;

      h1 {
        margin-top: -40px;
        font-size: 2.6rem;
      }
      p {
        margin: 40px 0;
      }
    }

    .landing-image {
      width: 50%;
    }

    @media only screen and (max-width: 768px) {
      flex-direction: column-reverse;
      justify-content: space-around;
      height: auto;
      padding: 60px 10px 20px;

      >div {
        max-width: 100%;
        padding-left: 0;

        h1 {
          font-size: 1.6em;
        }

        p {
          width: 100%;
          margin: 20px auto;
        }
      }

      .landing-image {
        width: 100%;
      }
    }
  }
}
